.header{
    display: flex;
    align-items: center;
}
.body{
    background-color: #282c34;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white
}

.divLinksHeader{
    display: flex;
    padding-left: 100px;
}